<h1>{{ruta.CiudadOrigen}} <small>{{ruta.CiudadDestino}}</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img style="padding-left: 50px;" height="200">
        <br><br>
        <a href="rutas" class="btn btn-outline-danger btn-block">volver</a>
    </div>
    <div class="col-md-8">
        <h3>Ciudad de Origen {{ruta.CiudadOrigen}}</h3>
        <hr>
        <h3>Ciudad de Destino {{ruta.CiudadDestino}}</h3>
        <hr>
        <h3>Ciudad de Destino {{ruta.PrecioRuta}}</h3>
        <hr>
        <h3>Ciudad de Destino {{ruta.Tipo}}</h3>
        <hr>
        <p>Descripcion de la ruta <br><br>{{ruta.Descripcion}}</p>
        <div>
            <img *ngIf="ruta.Tipo=='interno'" height="100" src="/assets/img/Mlg.png" alt="">
            <img *ngIf="ruta.Tipo=='externo'" height="100" src="/assets/img/dclg.png" alt="">

        </div>
    </div>
</div>
